@import "navbar.css";

body {
    margin: 0;
    padding: 0;
    background-image: url("../Pictures/background.png");
    background-repeat: repeat;
    font-family: 'Montserrat', sans-serif;
}


Content {
    display:flex;
    flex-direction:column;
}

.contact {
    margin: auto;
    padding: 5px;
    border: 5px solid #062F4F;
    text-align: center;
    color: #333;
    margin-top:50px;
    padding-bottom:20px;
}

.contact h1 {
    font-size:28px;
    padding:10px;
}

.contact ul {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    text-align:left;
    font-family: 'Montserrat', sans-serif;
}