@import "navbar.css";

body {
    margin: 0;
    padding: 0;
    background-image: url("../Pictures/button.png");
    background-repeat: repeat;
    font-family: 'Montserrat', sans-serif;
}

Content {
    display: flex;
    flex-direction: column;
}

.slideshow {
   display: inline-block;
   border: 5px solid #062F4F ;
   margin: auto;
   top: 500px;
   width: 100%;
}

.mainpic {
  height: 250px;
  top:500px;
}

h2 {
  text-align: center;
  color: #062F4F;
}

.Text {

  text-align: center;
  font-size: 25px;
}