body {
    margin: 0;
    text-align: center;
}

Header {
    display: flex;
    justify-content: flex-start;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
}

.logoa {
    width: 100px;
    height: 100px;
    z-index: 2;
    position: absolute;
}

.navbar {
    background-color:  #333399;
    box-shadow: 5px 5px 5px grey;
    width:100%;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    font-size: 20px;
    font-family: 'Baloo Bhaina', cursive;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
 }

 @media all and (max-width:800px){
     Header ul {
         justify-content: space-around;
     }
 }

 @media all and (max-width: 500px){
     Header ul {
         flex-direction: column;
     }
 }

li {
    float: left;
    position: relative;
    left: 105px;
    text-align: center;    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: #111;
}

.active {
    background: #9966ff ;
}

Content {
    display: flex;
    flex-direction: column;
}

.slideshow {
   display: inline-block;
   border: 5px solid #062F4F ;
   margin: auto;
   top: 500px;
   width: 100%;
}

.mainpic {
  height: 250px;
  top:500px;
}

h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #062F4F;
}